#counterLabel{
  
    display:block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10em;
    color: rgb(116, 164, 236);
}

#buttonContainer{
    text-align: center;
}
.button{
    color: white;
    background-color: rgb(193, 217, 245);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 10px;
    font-size: 1em;
    border-radius: 5px;
    border-color: rgb(158, 197, 241);;
    cursor: pointer;
    border-spacing: 0.1em;
    /* transition: background-color 0.25s; */
}
.button:hover{
    background-color: rgb(131, 181, 252);
}